log
project/project
target
tmp
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.sass-cache
!project/project/Plugins.scala
/test/assets/specs/*.spec.js
vendor/bundle
.bundle/config
project/.idea/
*.iws
*.ipr
.DS_Store
app/assets/javascripts/sm-bundle.js
app-2.11/
log/
/.history
.scannerwork/
